<div id="aviokompanija">
  <br />
  <table align="right">
    <tr align="center" style="font-size: 30px;">
      <td colspan="2">Letovi</td>
    </tr>
    <tr>
      <td>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <img src="assets/avion_slicica.jpg" height="20px" width="20px" />
            </div>
          </div>

          <input type="text" class="form-control" placeholder="From" />
        </div>
      </td>

      <td>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <img src="assets/avion_slicica.jpg" height="20px" width="20px" />
            </div>
          </div>
          <input type="text" class="form-control" placeholder="To" />
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <select style="width: 250px;">
                <option value="0">Ekonomska</option>
                <option value="1">Biznis</option>
                <option value="2">Prva</option>
                <option value="3">Svejedno</option>
              </select>
            </div>
          </div>
        </div>
      </td>

      <td>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <select style="width: 250px;">
                <option value="0">direktan let</option>
                <option value="1">presedanje</option>
              </select>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <th>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" />
            </div>
          </div>
          <label>Jedan pravac</label>
        </div>
      </th>
      <th>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" />
            </div>
          </div>
          <label>Povratna karta</label>
        </div>
      </th>
    </tr>
    <tr>
      <td colspan="2">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button
              style="min-width: 540px;"
              class="btn btn-dark"
              type="button"
            >
              Pretraži
            </button>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
