<div id="aviokompanija">
  <br />
  <table border="2" id="ss">
    <tr align="center" id="naslov">
      <td colspan="2">Letovi</td>
    </tr>
    <tr>
      <td>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <img src="assets/avion_slicica.jpg" height="20px" width="20px" />
            </div>
          </div>

          <input
            type="text"
            class="form-control"
            placeholder="From"
            id="polazakFilter"
          />
        </div>
      </td>

      <td>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <img src="assets/avion_slicica.jpg" height="20px" width="20px" />
            </div>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="To"
            id="destinacijaFilter"
          />
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <select style="width: 250px;">
                <option value="0">Ekonomska</option>
                <option value="1">Biznis</option>
                <option value="2">Prva</option>
                <option value="3">Svejedno</option>
              </select>
            </div>
          </div>
        </div>
      </td>

      <td>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <select style="width: 250px;">
                <option value="0">direktan let</option>
                <option value="1">presedanje</option>
              </select>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <th colspan="2" (click)="letUJednomPravcu()">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" />
            </div>
          </div>
          <label>Let u jednom pravcu</label>
        </div>
      </th>
    </tr>

    <tr>
      <td id="tekst">
        Datum polaska:
      </td>
      <td>
        <input type="date" id="datumPolaskaFilter" name="date" />
      </td>
    </tr>
    <tr [hidden]="hidden">
      <td id="tekst">
        Datum povratka:
      </td>
      <td>
        <input type="date" id="date" name="date" />
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button
              style="min-width: 552px;"
              class="btn btn-dark"
              type="button"
              (click)="filterFlights()"
            >
              Pretraži
            </button>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <h5 id="izgledPret">
    Pretraga
  </h5>

  <div [hidden]="filteredFlights.length === 0">
    <app-avio-filtered [filteredFlights]="filteredFlights"></app-avio-filtered>
  </div>
</div>
