#aviokompanija {
  background: url("src/assets/Aviokompanija.jpg");
  min-height: 700px;
  min-width: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

#ss {
  background-color: silver;
  margin-left: 1000px;
  margin-top: 20px;
}

#naslov {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
}

#tekst {
  font-size: 20px;
  text-align: center;
}

#izgledPret {
  background-color: aliceblue;
  text-align: center;
}
