  <!-- Modal -->
  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registerModalLabel">Register</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div>
                <table>
                    <tr>
                        <td>
                            E-mail:
                        </td>
                        <td>
                            <input type="text" placeholder="tvojmejl@gmail.com" #emailInput>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ime:
                        </td>
                        <td>
                            <input type="text" placeholder="Luka" #nameInput>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Prezime:
                        </td>
                        <td>
                            <input type="text" placeholder="Draca" #lastnameInput>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Sifra:
                        </td>
                        <td>
                            <input type="password" #passwordInput>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ponovi sifru:
                        </td>
                        <td>
                            <input type="password" #repasswordInput>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Grad:
                        </td>
                        <td>
                            <input type="text" placeholder="Subotica" #cityInput>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Broj:
                        </td>
                        <td>
                            <input type="number" placeholder="+381 63 4204204" #numberInput>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <button class="btn btn-dark" style="width: 100%;" (click)="register(emailInput,nameInput,lastnameInput,passwordInput,repasswordInput,cityInput,numberInput)">Register</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


