<div class="d-flex justify-content-center">
    <table>
        <tr>
            <td>
                E-mail:
            </td>
            <td>
                <input type="text" placeholder="tvojmejl@gmail.com">
            </td>
        </tr>
        <tr>
            <td>
                Ime:
            </td>
            <td>
                <input type="text" placeholder="Luka">
            </td>
        </tr>
        <tr>
            <td>
                Prezime:
            </td>
            <td>
                <input type="text" placeholder="Draca">
            </td>
        </tr>
        <tr>
            <td>
                Sifra:
            </td>
            <td>
                <input type="password">
            </td>
        </tr>
        <tr>
            <td>
                Ponovi sifru:
            </td>
            <td>
                <input type="password">
            </td>
        </tr>
        <tr>
            <td>
                Grad:
            </td>
            <td>
                <input type="text" placeholder="Subotica">
            </td>
        </tr>
        <tr>
            <td>
                Broj:
            </td>
            <td>
                <input type="number" placeholder="+381 63 4204204">
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button class="btn btn-dark" style="width: 100%;">Register</button>
            </td>
        </tr>
    </table>
</div>