<header id="navbar">
  <div>
    <img src="assets/avion_icon.jpg" />
    <button class="btn btn-dark btn-lg">Lagana priča travel</button>

    <ul id="lista">
      <li>
        <button class="btn btn-light btn-lg" (click)="showRegister()">
          Register
        </button>
      </li>
      <li>
        <button class="btn btn-dark btn-lg" (click)="showLogin()">Login</button>
      </li>
    </ul>
  </div>
</header>
<div id="buffer">
  <br>
</div>
<!--
<h1
  style="
    font-weight: 700;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  "
  class="d-flex justify-content-center"
>
  <pre>    Lagana priča travel <img height="130" width="180" src="assets/avion_icon.jpg" /></pre>
</h1>
-->
<div class="content">
  <div id="menu"> 
    <div id="aviokompanija" >
      <button class="btn btn-secondary btn-lg" style="min-width: 350px;">
        AVIOKOMPANIJA
      </button> 
    </div>
      <h1>-ili-</h1>
    <div id="rent-a-car">
      <button class="btn btn-secondary btn-lg" style="min-width: 350px;">
        RENT-A-CAR
      </button>
    </div>
      <h1>-ili-</h1>
    <div id="oba">
      <button class="btn btn-secondary btn-lg" style="min-width: 350px;">
        AVIOKOMPANIJA + RENT-A-CAR
      </button>
    </div>
  </div>
</div>

<div [hidden]="login">
  <app-login></app-login>
</div>

<div [hidden]="register">
  <app-register></app-register>
</div>
