<header id="navbar">
  <div>
    <img src="assets/avion_icon.jpg" />
    <button routerLink="" class="btn btn-dark btn-lg" (click)="clickMe()">
      Lagana priča travel
    </button>

    <ul id="lista">
      <li>
        <button
          class="btn btn-light btn-lg"
          data-toggle="modal"
          data-target="#registerModal"
        >
          Register
        </button>
      </li>
      <li>
        <button
          class="btn btn-dark btn-lg"
          data-toggle="modal"
          data-target="#loginModal"
        >
          Login
        </button>
      </li>
    </ul>
  </div>
</header>
<div id="buffer">
  <br />
</div>

<div>
  <app-login></app-login>
</div>

<div>
  <app-register></app-register>
</div>

<router-outlet></router-outlet>
