<div class="d-flex justify-content-center">
    <table>
        <tr>
            <td>
                E-mail:
            </td>
            <td>
                <input type="text" placeholder="tvojmejl@gmail.com" style="width: 100%;">
            </td>
        </tr>
        <tr>
            <td>
                Sifra:
            </td>
            <td>
                <input type="password" style="width: 100%;">
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button class="btn btn-dark" style="width: 100%;">Login</button>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                -ili-
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button class="btn btn-dark" style="margin: 5px; min-width: 100px;">Facebook</button>
                <button class="btn btn-dark" style="margin: 5px; min-width: 100px">Twitter</button>
                <button class="btn btn-dark" style="margin: 5px; min-width: 100px">Google</button>
            </td>
        </tr>
    </table>
</div>